fastapi
uvicorn
sqlalchemy
psycopg2-binary
pg8000
pydantic
pydantic-settings
python-multipart
python-dotenv
python-jose[cryptography]
jinja2
requests
email-validator
supabase
passlib[bcrypt]
bcrypt==4.0.1